#flex-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#brand-wrapper {
  position: absolute;
  top: 0;
  max-width: 620px;
  width: 100%;
  margin: auto;
  background: var(--darkgray);
  border: 5px solid var(--gray);
  border-top: none;
}
#brand {
  font-family: var(--fontBrand);
  font-size: 5rem;
  font-weight: 300;
}
#motto {
  font-size: 1rem;
  max-width: 450px;
  margin: inherit;
  padding: 0 0 0.8rem 0;
}
