#flex-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#brand-wrapper {
  position: absolute;
  top: 0;
  /*max-width: 520px;*/
  min-width: 416px;
  width: 100%;
  margin: auto;
  background: var(--darkgray);
  border-bottom: 5px solid var(--white);
}
#brand {
  font-family: var(--fontBrand);
  font-size: 3.3rem;
  font-weight: 300;
}
#motto {
  font-size: 1rem;
  max-width: 400px;
  margin: inherit;
  padding: 0 0 0.8rem 0;
}
