*, html {
  font-family: var(--fontMain);
  font-weight: 400;
  font-size: 100%;
}
body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--darkgray);
  color: var(--white);
}
#main-body {
  background-color: var(--wine);
  margin: 2rem 0 0 0;
  padding: 10rem 0 0 0;
  border-top: 4px solid var(--gray);
}
.center-me {
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
